<form class="form-signin" [formGroup]="formResetPwd" (ngSubmit)="submit()">

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" formControlName="password" name="password" required ngDefaultControl ></ion-input>
    <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
       <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="password" formControlName="confirm_password" name="confirm_password" required ngDefaultControl ></ion-input>
    <div *ngIf="isSubmitted && f.confirm_password.errors" class="invalid-feedback">
        <div *ngIf="f.confirm_password.errors.required">Password is required</div>
        <div *ngIf="f.confirm_password.errors.mustMatch">Password is not matching</div>
    </div>
  </ion-item>

  <ion-item  lines="none">
    <ion-button type="submit" [disabled]="isProcessing || isSuccess" color="danger" size="medium" expand="block">
          <span *ngIf="isProcessing" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
    </ion-button>
    <a routerLink="['/account/login']" class="small-text btn btn-link"> Cancel </a>
  </ion-item>

</form>                
     
