<form class="form-signin" [formGroup]="form" (ngSubmit)="submit()">

    <ion-item>
       <ion-label position="floating">Email</ion-label>
       <ion-input type="text" formControlName="email" name="email" required ngDefaultControl ></ion-input>
       <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
                a valid email address is required
      </div>
    </ion-item>

    <ion-item  lines="none">
      <ion-button type="submit" [disabled]="isProcessing || isSuccess" color="danger" size="medium" expand="block">
            <span *ngIf="isProcessing" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
      </ion-button>
      <a routerLink='/account/login' class="small-text btn btn-link"> Cancel </a>
    </ion-item>

  </form>                
       
