<div class="row">
  <div class="col-6">
    <p>
      Order List
    </p>
  </div>
  <div class="col-6" style="text-align:right">
    <a routerLink="/admin/order" style="color:blue">+ New Order</a>
  </div>
  
</div>

<table class="table">
    <thead class="thead-light">
      <th>Order No.</th>
      <th>Customer</th>
      <th>Date</th>
      <th>Note</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let i=index">
        <td>{{order.id}}</td>
        <td>{{ order.customer.name }}</td>
        <td>{{order.createdAt | date}}</td>
        <td>{{order.note}}</td>
        <td><a href="/edit">Edit</a><a href="/delete">Delete</a></td>
      </tr>
    </tbody>
</table>
